/* 
	Title:		   master.css
	Author: 	   Philip Gedgaud
	Date Created:  2/22/2011
	Last Modified: 4/6/2011
	Purpose:       Master styles for screen media
*/
@font-face {
    font-family: "Funky";
    src: url(../Funky-Regular.ttf);
}

/*-- Body Styles -------------------------------------------------*/
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	min-width: 600px;
	background-image: url(../images/woodbg.jpg);
}

/*-- Header Styles -----------------------------------------------*/

#header {
	margin-top: 10px;
	background-color: #D1A07D;
	height: 190px;
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
}
#header h1 {
	margin-bottom: 1px;
	font-size: 200%;
	height: 200px;
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -2000em;
}


/*--Navigation----------------------------------------------------*/
#header #nav {
	background-color: #382516;
	margin-top: 2px;
	margin-bottom: 2px;
	height: 56px;
	clear: both;
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
}

#header #nav ul li {
	display: inline;
	width: 25%;
	float: left;
	height: 56px;
}


#header #nav ul li a {
	width: 100%;
	display: block;
	letter-spacing: 2px;
	font-size: 1.2em;
	text-decoration: none;
	height: 56px;
}
#header #nav ul li a:link {
	color: #FFF;
	background-image: url(../images/apple.png);
	background-repeat: no-repeat;
	height: 56px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D1A07D;
	background-position: 2px;
	background-color: #382516;
}
#header #nav ul li a:visited {
	color: #FFF;
	background-image: url(../images/appleBite.png);
	background-repeat: no-repeat;
	height: 56px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D1A07D;
	background-position: 2px;
	background-color: #382516;
}
#header #nav ul li a:hover {
	color: #000;
	background-color: #D1A07D;
}

#header #nav ul li a .linkContent{
	margin-left: 55px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: block;
}

#header #nav ul li a .navSub {
	display: block;
	font-weight: normal;
	font-size: 0.8em;
}
#header #nav ul li a #lastLink {
	width: 100%;
	display: block;
	letter-spacing: 2px;
	font-size: 1.2em;
	text-decoration: none;
	height: 56px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

/*-- Main body styles ----------------------------------------------*/
#main {
	float: left;
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #FFF;
	padding: 1%;
	width: 98%;
}
#main h2 {
	font-size: 1.5em;
	width: 97%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D1A07D;
	margin-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
}

#main h3 {
	font-size: 1.25em;
	width: 97%;
	margin-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: underline;
	margin-top: 20px;
}
#main p  {
	padding-right: 20px;
	padding-left: 20px;
	line-height: 1.5em;
	font-size: 14px;
	margin-top: 1em;
	margin-bottom: 1em;
}
#main p a {
	color: #000;
}
#main form {
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 1em;
	margin-bottom: 1em;
}
#main address {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#main #map {
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 1em;
	margin-bottom: 1em;
}
.imgRight {
	float: right;
	border: 1px solid #000;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 50px;
}
.imgLeft {
	float: left;
	border: 1px solid #000;
	padding: 10px;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}
strong {
	font-weight: bold;
}
.clearFloat {
	clear: both;
}
address {
	padding-right: 20px;
	padding-left: 20px;
	line-height: 1.5em;
	font-size: 14px;
}

/* Survey and coupons styles*/
#surveyTable {
	width: 100%;
}

#labelCol {
	width: 25em;
}
#coupon {
	font-size: 16pt;
	background-image: url(../images/deliLogo.png);
	border: medium dashed #666;
	background-repeat: no-repeat;
	width: 20em;
	height: 200px;
	padding-left: 250px;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}
#coupon h3 {
	font-size: 18pt;
	text-decoration: none;
	font-weight: bold;
}
#main #surveyForm table tr td {
	padding: 10px;
	vertical-align: top;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
}
.required {
	color: #F00;
}
.radioButCol {
	width: 3em;
}

/* Styles for the menu*/
.price {
	color: #000;
	font-weight: bold;
}


/*-- Styles for survey sidebar--------------------------------------*/
#sidebar {
	float: right;
	background-image: url(../images/lgApple.png);
	height: 224px;
	width: 200px;
	background-repeat: no-repeat;
}

#sidebar p {
	vertical-align: middle;
	text-align: center;
	position: relative;
	top: 35%;
	font-size: 1.5em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
#sidebar p a {
	text-decoration: none;
}


/*-- Footer Styles -------------------------------------------------*/
#footer {
	background-color: #D1A07D;
	clear: both;
	padding: 10px;
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
}


#footNav, #copyright, #socialMedia {
	width: 32%;
	float: left;
	margin: 0px;
	padding: 0px;
}
#footNav {
	line-height: 1.5em;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #382516;
	margin-right: 10px;
	height: 7em;
}
#footNav ul {
	color: #000;
	text-decoration: none;
	width: 100%;
}
#footNav ul li {
	color: #000;
	text-decoration: none;
	width: 100%;
	display: block;
}
#footNav ul li a {
	color: #000;
	text-decoration: none;
	width: 100%;
	display: block;
}
#footNav ul li a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #382516;
}
#socialMedia {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #382516;
	margin-right: 10px;
	height: 7em;
}
#socialMedia img {
	float: left;
}
#socialMedia p a  {
	color: #000;
	text-decoration: none;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	height: 2em;
}
#socialMedia p a:visited {
	color: #000;
	text-decoration: none;
	width: 100%;
	display: block;
}
#socialMedia p a:hover {
	color: #FFF;
	text-decoration: none;
	width: 100%;
	display: block;
	background-color: #382516;
}
#copyright {
	height: 7em;
}

/*-- Misc. Styles ------------------------------------------------*/

/* self-clear floats */
.group:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

