@font-face {
    font-family: "Funky";
    src: url(../Funky-Regular.ttf);
}
#coupon {
	font-size: 16pt;
	background-image: url(../images/deliLogo.png);
	border: medium dashed #666;
	background-repeat: no-repeat;
	width: 20em;
	height: 200px;
	padding-left: 250px;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}
#coupon h3 {
	font-size: 18pt;
	text-decoration: none;
	font-weight: bold;
}
#nav, #footNav, #socialMedia
{
	display: none;
}
body {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 1.5em;
}
#main , #footer, #header{
		-moz-box-shadow: 0px 0px 0px #FFF;
		-webkit-box-shadow: 0px 0px 0px #FFF;
		box-shadow: 0px 0px 0px #FFF;
}
#sidebar {
	display: none;
}
#header {
	height: 4.5em;
}

#header h1 {
	font-family: Funky, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-indent: 0;
	font-size: 4em;
	height: 4.5em;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
